<h1>Users</h1>
<p id="notice"><%= notice %></p>

<%= turbo_stream_from "users" %>

<%= form_with url: search_users_path do |form| %>
  <%= form.text_field 'search_term', placeholder: 'Enter name...' %>
  <%= form.submit 'Search', data: { disable_with: false } %>
<% end %>

<br>

<%= turbo_frame_tag "user_form" do %>
  <%= render "users/form", user: @user %>
<% end %>

<br>

<%= turbo_frame_tag "users" do %>
  <%= render @users %>
<% end %>

